@import '/src/style/templates';
@import '/src/style/vars';

.flash-card-container{
    padding-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    .flash-card-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 280px;
        min-height: 300px;
        border: $border-color;
        border-radius: 1em;
        background-color: rgb(202, 235, 238);
        font-size: 24px;
        .flash-card-russian{
            font-size: 1.6em;
            color: rgb(12, 131, 39);
        }
        .flash-card-btn{
            width: 10em;
            height: 2.5em;
            border-radius: 0.625em;
            background-size: cover;
            background: linear-gradient(to right, #98e9b1, #9aeff5);
            cursor: pointer;
            font-size: 1em;
        }
    }
}