@import '/src/style/templates';
@import '/src/style/vars';
header{
    position:fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    .header-container{
        padding: 0.625em;
        display: flex;
        justify-content: space-around;
       .logoImg{
            width: 3.125em;
            height: 3.125em;
            border-radius: 0.625em;
            border: 2px solid rgb(76, 106, 93);
            cursor: pointer;
        }
        .header-nav{
            display: flex;
            align-items: center;
            justify-content: center;
            .header-nav-list{
                margin: 0;
                padding: 0;
                display: flex;
                gap: 4em;
                list-style: none;
                font-size: 2em;
                .header-nav-list-item{
                    padding-bottom: 5px;
                    border: 2px solid rgb(76, 106, 93);
                    border-radius: 0.5em;
                    background: linear-gradient(to right, #ed818a, #55659c);
                    color: white;
                    cursor: pointer;
                    &:hover, &:active {
                        background: linear-gradient(to left, #ed818a, #55659c);
                    }
                    a {
                        padding: 0.925em;
                        font-weight: 400;
                        color: #ffffff;
                        text-decoration: inherit;
                        &:hover, &:active {
                            color: rgb(23, 23, 188);
                        }
                    }
                }
            }
        }
    }
}
