@import '/src/style/templates';
@import '/src/style/vars';

.footer-container{

        margin-top: auto;
      
      

        .footer-img{
            width: 10%;
    }
    .copyright{
        p{
            margin: 0;
        }
    }
}