@import '/src/style/templates';
@import '/src/style/vars';

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
        .footer-img{
            width: 10%;
    }
    .copyright{
        p{
            margin: 0;
        }
    }
}