.slider-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .prev-card, .next-card{
        width: 4em;
        height: 4em;
        border-radius: 50%;
        cursor: pointer;
    }
}
.wordsCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
    gap: 1em;
    background-color: rgb(202, 235, 238);
    .thumbUp{
        width: 60px;
        height: 60px;
    }
    .wordsCounterInfo{
        font: 2em sans-serif;
    }
}