.page-container{
    width: 100wv;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:-4em;
    gap: 3em;
    .middle-size-text{
        font-size: 2em;
        font-weight: 500;
        font-style: italic;
    }
    .the-biggiest-size-text{
        margin: 0;
        font-size: 8em;
        font-weight: 800;
    }
    .londonImg{
        width: 40%;
        border-radius: 45px;
    }
}